name: Test Image

on:
  workflow_dispatch:
    inputs:
      image_url_path:
        description: "Specify the full image URL path"
        required: true
        type: choice
        options:
          - ghcr.io/queone/quebase
          - ghcr.io/queone/quevault
      image_tag:
        description: "Specify the tag to test (e.g., 1.0.3)"
        required: true
        type: string

permissions:
  packages: read  # Required to pull private container images from GHCR

jobs:
  detect-architectures:
    runs-on: ubuntu-latest
    outputs:
      archs: ${{ steps.detect.outputs.archs || 'linux/amd64' }}  # Default to amd64 if empty
    steps:
      - name: Authenticate with GitHub Container Registry
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u queone --password-stdin

      - name: Detect available architectures for the image
        id: detect
        run: |
          IMAGE="${{ github.event.inputs.image_url_path }}:${{ github.event.inputs.image_tag }}"
          echo "Inspecting image: $IMAGE"

          INSPECT_OUTPUT=$(docker buildx imagetools inspect $IMAGE)
          echo "$INSPECT_OUTPUT"

          ARCHS=$(echo "$INSPECT_OUTPUT" | grep -oE 'linux/[a-z0-9]+' | sort -u | tr '\n' ' ')

          if [[ -z "$ARCHS" ]]; then
            echo "âŒ No architectures found for $IMAGE"
            exit 1
          fi

          echo "Detected architectures: $ARCHS"
          echo "archs=$ARCHS" >> $GITHUB_OUTPUT

  test-container:
    runs-on: ubuntu-latest
    needs: detect-architectures
    strategy:
      matrix:
        arch: ${{ fromJson(needs.detect-architectures.outputs.archs) }}
    container:
      image: ${{ github.event.inputs.image_url_path }}:${{ github.event.inputs.image_tag }}
      options: "--platform ${{ matrix.arch }}"

    steps:
      - name: Setup Go environment
        uses: actions/setup-go@v5
        with:
          go-version: '1.23.4'

      - name: Test COMMANDS for ${{ matrix.arch }}
        run: |
          set -e
          chmod +x /bin/sh || true
          Gre='\e[1;32m' Red='\e[1;31m' Pur='\e[1;35m' Yel='\e[1;33m' Blu='\e[1;34m' Rst='\e[0m'
          printf "${Gre}START (${{ matrix.arch }})${Rst}\n"
          git --version || echo "git not found"
          ls -l
          cat /etc/os-release
          uname -m
          go version || echo "go not found"
          vault version || echo "vault not found"
          printf "${Red}END (${{ matrix.arch }})!${Rst}\n"
